pulumi>=3.0.0
pulumi-awsx>=2.0.0
pulumi-eks>=2.0.0
pulumi_kubernetes>=2.0.0
pulumi_aws>=2.0.0

# fixes NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'
urllib3==1.26.15 